@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-image: linear-gradient(
    149deg,
    hsl(305deg 100% 35%) 0%,
    hsl(308deg 100% 38%) 5%,
    hsl(311deg 100% 41%) 8%,
    hsl(314deg 100% 44%) 11%,
    hsl(317deg 100% 47%) 14%,
    hsl(319deg 100% 50%) 17%,
    hsl(322deg 100% 52%) 19%,
    hsl(325deg 100% 55%) 22%,
    hsl(328deg 100% 58%) 24%,
    hsl(331deg 100% 61%) 27%,
    hsl(334deg 100% 64%) 30%,
    hsl(337deg 100% 67%) 34%,
    hsl(340deg 100% 70%) 38%,
    hsl(343deg 100% 73%) 42%,
    hsl(346deg 100% 75%) 47%,
    hsl(349deg 100% 78%) 53%,
    hsl(351deg 100% 81%) 60%,
    hsl(355deg 100% 84%) 70%,
    hsl(357deg 100% 87%) 82%,
    hsl(0deg 100% 90%) 100%
  );
  background-repeat: no-repeat;
}

html,
body,
#root {
  height: 100%;
}
